  <div class="container">
    <p class="heading text-4xl font-bold pt-4 mb-8">
      <%= link_to "Genres", root_path %>
    </p>
  </div>

  <% @genres.each do |genre| %>
    <div class="container">
      <div class="flex flex-col">
        <div class="flex flex-row box-border h-15 w-30 p-4 border-2">
          <%= form_with(model: genre, local: true) do |form| %>
            <%= form.text_field :name, class:'text-2xl' %>
            <%= form.label "Feature" %>
            <%= form.check_box :feature_in_navbar %>
            <%= form.submit class: "btn btn-default" %>
            <%= link_to "Delete", genre, method: :delete, data: {confirm: "Are you sure you want to delete the genre?"}, class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

