<%= form_with(model: release, local: true) do |form| %>
  <% if release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
        <% release.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :review, class: "label" %>
    <%= form.text_area :review, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :rating, class: "label" %>
    <%= form.text_field :rating, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :genres, class: "label" %>
    <%= form.collection_select :genre_ids, @genres, :id, :name, {}, {multiple: true} %>
  </div>

  <div class="mb-6">
    <%= form.label :photo, class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-max-file-size="2" data-dropzone-max-files="1">
       <%= form.file_field :photo, data: { target: "dropzone.input" } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title ml-1">Drag here to upload or click here to browse</h3>
      <span class="dropzone-msg-desc text ml-1">2 MB file size maximum. </span>
    </div>
    </div>
  </div>

  <div class="mb-6">
    <%= form.submit %>
  </div>
<% end %>
