
<div class="search-container">
  <%= form_tag(releases_search_path, remote: true) do %>
    <div class="field">
      <%= label_tag :genre, "Genre: " %>
      <%= select_tag :genre, options_from_collection_for_select(
      @genres.to_a.unshift(Genre.new(id: 0, name: "All")),
      "name",
      "name",
      "0")%> 

      <%= label_tag :order, "Release Order" %>
      <%= select_tag :order, options_for_select([
          "A-Z",
          "Z-A",
          "Highest Rating",
          "Lowest Rating",
          "Newest First",
          "Oldest First"
        ]), {include_blank: "Order"} %>

      <%= submit_tag "Filter" %>
    </div>    
      <% end %>
</div>


<% @genres.each do |genre| %>
  <h1><%= genre.name %></h1>
<% genre.releases.each do |release| %>
  <p>
    <%= link_to image_tag(release.photo, width: 150, height: 150), release %>    
  </p>
<% end %>
<% end %>