

<div class="heading text-4xl font-bold pt-4 mb-8">
  <% if params[:genre].nil? %>
  <%= link_to @release.title, root_path %>
<% else %>
  <%= link_to @release.title, root_path(genre: params[:genre], order: params[:order]) %>
<% end %>
</div>

<div class="mb-4">
   <%= image_tag(@release.photo, width: 150, height: 150) %>  
</div>

<div class="mb-4 input">
  Review: <%= @release.review %>
</div>

<div class="mb-4 input">
  Rating: [<%= @release.rating %>/10]
</div>

<div class="mb-4">
  <%= render 'releases/likes', release: @release %>
</div>

<div class="mb-4">
  <%= render 'releases/like_link', release: @release %>
</div>

<h3>This Release Belongs to <%= pluralize(@release.genres.count, "Genre") %>:</h3>
<% @release.genres.each do |genre| %>
  <p>
    <%= link_to genre.name, root_path(genre: genre.name) %>
  </p>
<% end %>

<div class="mt-3">
  <% if current_user&.admin %>
    <%= link_to 'Edit', edit_release_path(@release), class: 'btn btn-defaultsign' %> |
    <%= link_to 'Delete', @release, method: :delete, class: 'btn btn-defaultsign' %>
  <% end %>
</div>

