<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @release.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= @release.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @release.rating %>
</p>

<p>
  <%= link_to image_tag(@release.photo, width: 150, height: 150), @release %>   
</p>

<h3>This Release Belongs to <%= pluralize(@release.genres.count, "Genre") %>:</h3>
<% @release.genres.each do |genre| %>
  <p>
    <%= link_to genre.name, genre %>
  </p>
<% end %>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
